*{
    padding: 0;
    margin: 0;
    font-family: "cairo";
}

body{
    background: #F1F1F1;
}
a{
    text-decoration: none;
    color: inherit;
}

button,button:hover{
    outline: none;
   opacity: 1;
}

.hidden{
    display: none;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1
    }
}
/* header Style */
.header{
    background: #32374A;
    padding: 20px 20px;
}

.nav_bar{
    height: 45px;
    display: grid;
    grid-template-columns: 15% 25% 30% 30%;
}

.logo{
    height:inherit;
}

.logo img{
    height: 100%;
    width: 100%;
}

.search{
    
}

.search img{
    width: 60%;
    height: 100%;
}

.search_input{
    display: grid;
    grid-template-columns: 10% auto;
    background: #fff;
    padding: 2px;
    width: 90%;
    margin: 5px 20px;
    padding: 5px;
    border-radius: 10px;    
}

.search_input input{
    width: 95%;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.search_input input:focus{
    outline: none;
}    

.menu ul{
    text-align: center;
    padding: 5px;
}

.menu li{
    list-style: none;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}


.profil_info{
    height: inherit;
    margin-left: 100px; 
    color: #fff;
}

.profil_name{
    height: inherit;
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 10px;
}
.profil_imgMin {
    height: inherit;
}

.profil_imgMin:hover{
    cursor: pointer;
}
.profil_name img{
    height: 100%;
    border-radius: 50%;
}

.profil_imgMin>i{
    margin-top: 35px;
    position: absolute;
    color: #0385D6;
    font-size: 20px;
}

.profile_menu{
    box-shadow: 3px 3px 10px #ccc;    
    position: absolute;
    top: 95px;
    right: 20%;
    color: #32374A;
    background: #F1F1F1;
    z-index: 15;
}
.arrow_top{
    text-align: right;
    height: 10px;
}
.arrow_top i{
    font-size: 40px;
    line-height: 0.5em;
}

#profile_link{
    box-shadow: 0px -3px 10px #ccc;        
    position: relative;
    height: 80px;
    padding: 20px;;
    
}

#profile_link img{
    height: inherit;
    border:2px solid #707070;
}    

#profile_link div{
    display: inline-block;
}

#profile_link #name{
    font-size: 24px;
    line-height: 1em;
    font-weight: bold;
}

#profile_link #link{
    font-size: 14px;
    margin-top: 5px;
}

.profile_menu ul{
    list-style: none;
    padding-left: 20px;
}

.profile_menu ul li{
    font-size: 20px;
}    

.small{
    display: none;
}
/* End of Header */



/* main body  */

.mainContent{
    display: grid;
    grid-template-columns:20% auto 30% ;
    grid-column-gap: 2%;
    width: 90%;
    margin: 50px auto;
}

.mainContent div{
}

.sideBar{
    text-align: center;
    padding-bottom: 100px;
    border: 2px solid #ccc;
    background: #fff;
    height: min-content;
}

.sideBar #info,
.sideBar #completProjects,
.sideBar #completTasks{
    padding: 20px;
    padding-bottom: 30px;
}

.sideBar #info img{
    width: 40%;
    border: 2px solid #707070;
    border-radius: 50%;
}

.sideBar #info #name{
    font-size: 24px;
    font-weight: bold;
    color: #32374A;
    line-height: 1em;
}

.sideBar #info #edu{
    font-size: 14px;
    color: #32374A;
    line-height: 1em;
}

.sideBar #num {
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
}

.suggestion{
    border: 2px solid #ccc;
    padding: 20PX;
    height: min-content;
    background: #fff;
    
}

.follower{
    display: grid;
    grid-template-columns: 20% auto auto;
    margin-top: 20px;
    grid-column-gap: 10px;

}


.follower div{
    /* border: 1px solid black; */
}

.follower #img img{
    width: 100%;
    border: 2px solid #707070;
    border-radius: 50%;
}

.follower #info{
    padding-left: 20px;
}
.follower #info #name{
    font-size: 19px;
    font-weight: bold;
   
}

.follower #info #about{
    font-size: 11px;
    font-weight: lighter;
    line-height: 1em;
}

.follower #button{
    padding-top: 10%;
}

.follower #button button{
    width: 100%;
    border: 1px  solid #707070;
    background: none;
    text-align: left;
    padding-left: 5px;
    font-size: 20px;
    line-height: 1.5em;
    cursor: pointer;
}

.follower #button button img {
    width: 15px;
    margin-right: 10px;

}

.follower #button button:focus{
    outline: none;
}





/* stars */

.rate{
    margin-top: 20px;
}
.stars-outer {
    position: relative;
    display: inline-block;
  }
  
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 75%;
}
  
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}
  
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}
  
/* for post */
.post{
    background-color: #fff;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    overflow: hiddden;    
    padding: 10px;
    margin-right: 20px;
  
}
.post_container{
    width: 97%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 33.333333%  33.333333%  33.333333% ;
    grid-row-gap: 20px;
    padding: 10px;
}
.post_header{
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;


}
.post_profile{
    width:100%;

}
.post_profile .profile_img{
    display: grid;
    grid-template-columns: 25% auto;
    grid-column-gap: 5px;
}
.post_profile .profile_img .img{
    
    margin: auto 0;
    height: 70px;
    padding-top: 10px;
}
.post_profile .profile_img .img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:1px solid #000;
}
.post_profile .profile_img .img_info{
    float: left;
    overflow: hidden;
    padding-top: 25px;
    padding-left: 15px;
}
.post_profile .profile_img .img_info p{
    font-weight: bold;
   line-height: 1em;
}
.post_profile .profile_info{
    width: 100%;
    padding-top:10px;
}
.font_icon{
    overflow: hidden;
}

.font_icon span{
    float: right;
    color: #0385d6;
    font-size: 6px;
    cursor: pointer;
}

.font_icon span i{
    margin-right: 5px;
}

.post_content{
    width: 100%;
}

.post_footer {
    width: 100%;
}

.post_footer button{
    width: 20%;
    height: 40px;
    color:#fff;
    background-color: #0385d6;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    opacity: .7;
    cursor: pointer;
}

.post_footer button:hover{
    opacity: 1;
}

/* end of main body */


/* Footer style */

.footer{
    background: #32374A;
    color: #fff;
}
.help{
    width: 95%;
    margin:auto;
}


.footer ul{
    display: inline-block;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

.footer img{
    height: 50px;
    display: inline-block;
    float: right;
}

.wall{
    overflow-y: scroll;
    height: 800px;
}
.wall::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ccc;
}

.wall::-webkit-scrollbar
{
	width: 12px;
    background-color: #F5F5F5;
    
}

.wall::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
    height: 5px;
    display: inline-block;
    height: 5px;
}


/* ////End of the wall page/// */


/* ////start of the setting page/// */
.settingContent,
.profileContent{
    width: 90%;
    margin: 20px auto;
    margin-bottom: 120px;
}
.setting_header,
.setting,
.profileContentHeader,
.profile{
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 15px;
    margin-bottom: 15px;
}

.backToProfile,
.editProfile{
    padding-left: 40px;    
}

.backToProfile button,
.editProfile button{
    color: #fff;
    background: #0385D6;
    border: none;
    border-radius: 10px;
    padding: 3px 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.setting_lable{
    text-align: center;
}

.setting_lable p{
    font-size: 20px;
    font-weight: bold;
    color: #0385D6;
    border-bottom: 1px solid #ccc;
    width: min-content;
    margin: auto;
}

.setting_sidbar{
    background: #fff;
    box-shadow: 2px 2px 5px #ccc ,-2px -2px 5px #ccc;
    padding:20px 10px; 
    height: min-content;
}

.setting_sidbar ul{
    list-style: none;
    margin-bottom: 50px;
}

.setting_sidbar ul li{
    padding-left: 15px;
   
}

.active_setting{
    border-left: 3px solid #0385D6 ;
    font-weight: bold;
}

.setting_body{
    background: #fff;
}


.setting_body_header{
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 15px 30px;
}

.forma1{
    display: grid;
    grid-template-columns:30% auto 10%;
    border: 1px solid #ccc; 
    padding-bottom: 30px;
}
.forma2{
    border: 1px solid #ccc; 
    padding: 30px;    
}

.form_body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    color: #32374A;
    
}


.form_body input,
.edu input,
.exp input,
.skill input,
.skill select,
.language input,
.language select{
    width: 95%;
    border: 1px solid #707070;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 5px;
    font-weight: bold;
    height: 30px;
}   


   

.form_body label{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}



.profil_image,
.cover_image{
    text-align: center;
}

.profil_image img{
    width: 15%;
    border-radius: 50%;
    display: block;
    margin:10px auto;
}

.cover_image img{
    width: 95%;
    height: 250px;
    display: block;
    margin: 20px auto;
}

.profil_image input,
.cover_image input,
.edu #media_container input[type='file'],
.exp #media_container input[type='file'],
.skill #media_container input[type='file'],
.language #media_container input[type='file']{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    display: none;
}

.profil_image label,
.cover_image label{
    cursor: pointer;
}

.profil_image label:hover,
.cover_image label:hover{
    color: #0385D6;
}


.edu #year,
.exp #year,
.skill #skill_option,
.language #language_option{
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 15px;
}

.edu #media_container,
.exp #media_container,
.skill #media_container,
.language #media_container{
    display: grid;
    grid-template-columns: 25% 25%;
    grid-column-gap: 30px;
}

.edu #media_container input,
.exp #media_container input,
.skill #media_container input,
.language #media_container input{
    border: 1px solid #006ab5;
}


#skill_container,
#language_container{
    padding-bottom: 150px;
}


.uploader{
    border: 1px solid #006ab5;
    border-radius: 5px;
    padding: 0px 10px;
    width: 90%;
    text-align: center;
    color: #000;
    height: min-content;
}






/* ////End of the setting page/// */


/* ////start of the profile page/// */

.profile_lable,
.profileBody_lable {
    text-align: center;
    color: #32374A;
}

.profile_lable .tab,
.profileBody_lable .bodyTab,
.profileBody_lable .bodyNegTab{
    display: inline-block;    
    font-size: 20px;
    font-weight: bold;
    margin: auto 10px;
    cursor: pointer;
}

.activeLabel{
    color: #0385D6;
    border-bottom: 2px solid #ccc;
}

.profileSidebar .personalInfo,
.profileSidebar .activityInfo,
.profileSidebar .experienceInfo,
.profileSidebar .skillInfo,
.profileSidebar .languageInfo{
    border: 0.5px solid #ccc;
    box-shadow: 3px 3px 5px #ccc,-3px -3px 5px #ccc;
    padding: 20px 20px;
    margin-bottom: 30px;
    color: #32374A;
    background: #fff;
}

.personalInfo #name{
    font-size: 25PX;
    font-weight: 600;
}

.personalInfo #imgInfo{
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 25px;
}

.personalInfo #personalImg img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid #707070;
}

.personalInfo #personalDetails p{
    font-size: 20px;
}

.personalInfo #personalDetails #location img{
    width: 20px;
}

.activityInfo #activities{
    display: grid;
    grid-template-columns: auto auto;
    font-size: 15px;
    font-weight: 600;
}

.activityInfo #activities ul{
    list-style: none;
}

.activityInfo #activities #activityNo #noMenu li{
    text-align: right;
}

.infoTitel{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

dd{
    -webkit-margin-start: 40px;
    line-height: 1.5em;
}


.experience .expTitel,
.skill .skillTitel,
.language .languageTitel{
    font-size: 16px;
    font-weight: bold; 
    margin-top: 5px; 
}
.experience i,
.skill i,
.language i{
    font-size: 11px;
    margin-right: 10px;
}


.profileBody{
    border: 1px solid #ccc;
    box-shadow: 3px 3px 5px #ccc, -3px -3px 5px #ccc;
    background: #fff;
}

.profileBody_lable{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.courses_projects{
    width: 80%;
    margin: 20px auto;
    color: #32374A;
}

.courses_projects .row{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 20px;
    margin-bottom: 40px;
}

.courseLogo,
.projectLogo{
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px #ccc;
}
.courseLogo img,
.projectLogo img{
    width: 80%;
    margin: 5px auto;
    
}

.courseDetails,
.projectDetails{
    border: 1px solid #ccc;
    padding: 10px 10px;
    box-shadow: 2px 2px 5px #ccc;
}

.courseDetails .name,
.projectDetails .name{
    font-size: 20px;
    font-weight: 700;
}

.courseDetails .fromTo,
.projectDetails .fromTo{
    line-height: 1em;
}


    
/* ////End of the profile page/// */

/* //////statistics////////// */



.totalContent{
    padding: 30px ;
}


.totalRate{
    padding: 20px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 100px;

}

.totalHead h3{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5em ;         
}

.totalHead p{
    font-size: 25px;
    font-weight: lighter;
    padding-left: 5px;
    line-height: 0.5em
}

.stars{
    float: left;
    padding: 2px;
    font-size: 30px;
}

.statisticsContent{
    width: 55%;
    margin: 0  auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 5%;
    text-align: center;
    
}

.statisticsContent p{
    color: #0385D6;
    font-size: 20px;
}

p.numbers{
    font-size: 120px;
}

.statisticsContent button{
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #32374A;
    color: #fff;
    cursor: pointer;
}

.tasksInfo{
    width: 75%;
    margin: 0 auto;
    font-size: 26px;
    margin-top: 100px;
}

.tasksInfo p{
    color: #000;
}

.tasksInfoHeader{
    padding-bottom: 20px;
    margin: 20px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 60% auto;
    border-bottom: 2px solid #ccc;
}


.tasksInfoHeader .tabs{
    text-align: right;
}

.tasksInfoHeader .tabs p{
    width: min-content;
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;
    cursor: pointer;
}

.taskInfo{
    display: grid;
    grid-template-columns: 60% auto;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0;
}
.checkComplet{
    text-align: right;
    padding-right: 15px;
}

.completed{
    color: #0385D6;
}

/* /////////////////////////// */
.small_show{
    display: none;
}
.small_hidden{
    display: grid;
}




/* /////respose/// */

@media only screen and (max-width: 1300px) {
    .follower #button button img {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 1200px) {
    .follower #button button{
        font-size: 16px;
    }

    .profil_info {
        margin-left: 50px;
    }

    .follower{
        grid-column-gap: 0;
    }
}


@media only screen and (max-width: 1000px) {
    .profil_info {
        margin-left: 30px;
    }

    .follower #info {
        padding-left: 10px;
    }

    .suggestion{
        padding: 10px;
    }

    .menu li{
        margin-left: 15px;        
    }

    .sideBar #info #name{
        font-size: 20px;        
    }

    .sideBar #info #edu{
        font-size: 11px;        
    }

    .mainContent {
        grid-column-gap: 2%;
        width: 95%;
        margin: 30px auto;
    }

    .profil_name {
        grid-template-columns: 25% auto;
    }
}


@media only screen and (max-width: 870px) {
    .menu li {
        margin-left: 10px;
        font-size: 19px;
    }

    .profil_name h2{
        font-size: 20px;
    }

    .follower #button button img {
        display: none;
    }
    
    .sideBar div {
        padding: 10px;
        padding-bottom: 30px;
    }

    .profil_name {
        grid-template-columns: 30% auto;
    }

    .courses_projects{
        width: 95%;
    }
    .profileContent{
        width: 95%;
    }
    .personalInfo #imgInfo{
        grid-column-gap: 15px;
    }
    .personalInfo #personalDetails p{
        font-size: 16px;
        font-weight: bold;
    }
    #location{
        text-align-last: center;
    }

    .activityInfo #activities{
        grid-template-columns: 90% auto;
        font-size: 16px;
    }

    .experience .expTitel,
    .skill .skillTitel, 
    .language .languageTitel {
        font-size: 16px;
    }

    dd {
        -webkit-margin-start: 20px;
        font-size: 14px;
    }

    .courseDetails .name, .projectDetails .name {
        line-height: 1em;
        margin-bottom: 10px;
    }

    .totalRate {
        padding: 0;
        padding-top: 40px;
        display: grid;
        grid-template-columns: 55% auto;
    }

    .totalHead p {
        font-size: 20px;
    }

    .statisticsContent {
        width: 100%;
    }

    .totalRate{
        margin-bottom: 60px;
    }
    .tasksInfo {
        width: 100%;
    }
    .tasksInfoHeader .tabs p {
        margin-left: 10px;
        font-size: 14px;
    }
    .tasksInfoHeader{
        grid-template-columns: auto auto;
    }

    .taskInfo{
        grid-template-columns: 80% auto;
    }

    .taskInfo p{
        font-size: 24px;
    }
    #name p{
        font-size: 24px;
    }
    #location img{
        display: none;
    }
}    


@media only screen and (max-width: 800px) {
    
    .nav_bar {
        grid-template-columns: 15% 35% 35% auto;
    }

    .profile_menu{
        right: 3%;
    }

    .profil_name h2 {
        display: none;
    }

    .profil_name {
        grid-template-columns: auto auto;
    }
    .profil_info {
        margin-left: 30px;
    }

    .mainContent{
        grid-template-columns: auto 30%;
    }

    .sideBar{
        display: none;
    }
}
    

@media only screen and (max-width: 670px) {
    .nav_bar {
        grid-template-columns: 25% 55% auto;
    }
    .menu{
        display: none;
    }

    .profil_info {
        margin-left: 25px;
    }

    .profil_info {
        margin-left: 30px;
    }

    .small{
        display: block;
    }
    .profil_name {
        grid-template-columns: auto;
    }

    .mainContent {
        grid-template-columns: auto;
    }

    .follower #button button img{
        display: inline;
        margin-right: 10px;
    }

    .suggestion {
        padding: 10px;
        width: 60%;
        margin: auto;
    }

    .backToProfile {
        padding-left: 0px;
    }

    .forma1{
        grid-template-columns: 5% auto 10%;
    }

    .edu #media_container,
    .exp #media_container,
    .skill #media_container, 
    .language #media_container{
        grid-template-columns: auto auto;
    }

    .profil_image img{
        width: 40%;
    }

    .cover_image img{
        widows: 100%;
        height: 150px;
    }

    .setting_header,
    .setting, 
    .profileContentHeader,
    .profile{
        display: block;
    }

    .small_show{
        display: block;
    }
    .small_hidden{
        display: none;
    }

    .editProfile,
    .backToProfile {
        width: min-content;
        margin: 20px auto;
    }

    .editProfile button,
    .backToProfile button{
        width: max-content;
    }

    #location img{
        display: inline;
    }

    #location{
        text-align-last: left;
    }
    #name p {
        font-size: 40px;
    }

    .profileSidebar .personalInfo{
        padding: 20px 40px;
    }
    .setting_sidbar{
        margin-bottom: 25px;
    }
}    

@media only screen and (max-width: 450px) {
.profil_imgMin i{
    display: none;
}

}

#eduAddLabel,
#expAddLabel,
#skillAddLabel,
#languageAddLabel{
    color:#30bfd0;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.line{
    margin: 20px auto;
    box-shadow: 2px 2px 5px #ccc;
}

.delete{
    color: #0385d6;
    cursor: pointer;
}
.delete:hover{
    text-decoration: underline;
}